SELECT log_mode FROM v$database;


SHUTDOWN IMMEDIATE;
STARTUP MOUNT;
HOST SLEEP 5;
ALTER DATABASE ARCHIVELOG;
HOST SLEEP 5;
ALTER DATABASE OPEN;

SELECT log_mode FROM v$database;



ALTER DATABASE FORCE LOGGING;

SELECT GROUP#, BYTES/1024/1024 MB FROM V$LOG;
SELECT THREAD#, INSTANCE FROM V$THREAD;

ALTER DATABASE ADD STANDBY LOGFILE THREAD 1 GROUP 10 ('/u01/app/oracle/oradata/ORCL/standby_redo01.log') SIZE 50M;
ALTER DATABASE ADD STANDBY LOGFILE THREAD 1 GROUP 11 ('/u01/app/oracle/oradata/ORCL/standby_redo02.log') SIZE 50M;
ALTER DATABASE ADD STANDBY LOGFILE THREAD 1 GROUP 12 ('/u01/app/oracle/oradata/ORCL/standby_redo03.log') SIZE 50M;
ALTER DATABASE ADD STANDBY LOGFILE THREAD 1 GROUP 13 ('/u01/app/oracle/oradata/ORCL/standby_redo04.log') SIZE 50M;
SELECT GROUP#,THREAD#,SEQUENCE#,ARCHIVED,STATUS FROM V$STANDBY_LOG;
alter system set LOG_ARCHIVE_CONFIG='DG_CONFIG=(ORCL,ORCLDG1)';
alter system set LOG_ARCHIVE_DEST_2='SERVICE=ORCLDG1 LGWR ASYNC VALID_FOR=(ONLINE_LOGFILES,PRIMARY_ROLE) DB_UNIQUE_NAME=ORCLDG1';
alter system set LOG_ARCHIVE_DEST_STATE_2=ENABLE;
alter system set FAL_SERVER=ORCLDG1;
alter system set DB_FILE_NAME_CONVERT='/u01/app/oracle/oradata/ORCL/','/u01/app/oracle/oradata/ORCLDG1/' scope=spfile; 
alter system set LOG_FILE_NAME_CONVERT='/u01/app/oracle/oradata/ORCL/','/u01/app/oracle/oradata/ORCLDG1/' scope=spfile;
ALTER SYSTEM SET STANDBY_FILE_MANAGEMENT=AUTO;
